.section {
  text-align: center;
}
.form {
  display: inline-block;
}

/* .select .input .radio .textarea */

.select {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
}
.input {
}
.radio {
  margin: 10px;
}
.textarea {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
  min-heght: 100px;
}

.label .input .textarea .select {
  cursor: pointer;
}
