.header {
  width: 1200px;
  margin: 0 auto;
}
.logo {
  text-align: center;
}
.navlist {
  display: flex;
}
.navitem {
  width: 200px;
  list-style: none;
  border-right: 1px solid #ddd;
  text-align: center;
}
.navitem:first-child {
  border-left: 1px solid #ddd;
}
.Link {
  text-decoration: none;
  color: #333;
}
.Link:hover {
  color: #00bfff;
}
